<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RK_Cosmetics_System.Properties.Settings.DB_RK_Cosmetics_SystemConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_RK_Cosmetics_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>